<manifest
    package="com.ewintory.udacity.popularmovies"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PopularMovies">

        <activity
            android:name=".ui.activity.BrowseMoviesActivity"
            android:label="@string/title_browse_movies"
            android:theme="@style/Theme.PopularMovies.BrowseMovies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MovieDetailsActivity"
            android:parentActivityName=".ui.activity.BrowseMoviesActivity"
            android:theme="@style/Theme.PopularMovies.MovieDetails" />

        <meta-data
            android:name="com.ewintory.udacity.popularmovies.utils.GlideSetup"
            android:value="GlideModule" />

    </application>

</manifest>
