<!--
  Copyright 2015.  Emin Yahyayev

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest
    package="com.ewintory.udacity.popularmovies"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PopularMovies">

        <activity
            android:name=".ui.activity.BrowseMoviesActivity"
            android:label="@string/title_browse_movies"
            android:theme="@style/Theme.PopularMovies.BrowseMovies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MovieDetailsActivity"
            android:parentActivityName=".ui.activity.BrowseMoviesActivity"
            android:theme="@style/Theme.PopularMovies.MovieDetails" />

        <activity
            android:name=".ui.activity.PreferenceActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.activity.BrowseMoviesActivity" />

        <provider
            android:name=".data.provider.MoviesProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true" />

        <service android:name=".data.sync.PopularMoviesAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".data.sync.PopularMoviesSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <meta-data
            android:name="com.ewintory.udacity.popularmovies.data.GlideSetup"
            android:value="GlideModule" />

    </application>

</manifest>
